<img src="/assets/logo_large.png" class="lll"/>

<dl class="dl-horizontal">
  <dt>Written by</dt>
  <dd>Lazy-eye developer</dd>
   
  <dt>Fork on GitHub</dt>
  <dd><a href="https://github.com/giladmanor/candyland">candyland@github</a></dd>
  
</dl>